<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	
    <title>در دست ساخت ...</title>
	
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/css/blue.css" />
	
    <script type="text/javascript" src="/assets/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/assets/javascripts/js/flipClock/flipClock.js"></script>
    <script type="text/javascript" src="/assets/javascripts/js/config.js"></script>
    <script type="text/javascript" src="/assets/javascripts/js/scripts.js"></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png" />
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
</head>

<body>
    <div class="general_container coming_soon">
        
        <!---------------- Main ----------------->
         
        <div class="main_container">
            <div class="top_text">در دست ساخت ...</div>
            
            <div class="divider"></div>
            
            <div class="clock_block">
            	<div class="clock_parent">
                	<div class="clock_texts">
                        <div style="width:136px;">ثانیه</div>
                        <div style="width:136px;margin-right:31px;">دقیقه</div>
                        <div style="width:136px;margin-right:31px;">ساعت</div>
                        <div style="width:204px;margin-right:50px;">روز</div>
                	</div>
                </div>
            </div>
            
            <div class="bottom_text">از راه اندازی سایت با خبر شوید</div>
            
            <div class="divider"></div>
            
            <div class="subscribe_container">
            	<div class="subscribe">
                	<form method="post" action="#">
                        <input type="text" name="email" placeholder="Email" class="textbox" />
                        <button type="submit">ثبت</button>
                    </form>
                    <div class="message"></div>
                </div>
            </div>
            
        </div>
        
    </div>
</body>
</html>
